
body {
    font-family: Raleway;
}
#main_container {

    background-color: #f1f1f1;
    height: 1000px;
}

h5{
    text-align: center;
}
header {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 20px;
    background-color: #FFFFFF;
    font-family: Raleway;
    color: #00c3ff;
}
header div a{
    color:lightskyblue;
}

header div a:hover {
    color:dodgerblue;
}

nav {
    background-color: #FFFFFF;
    width: 20%;
    float: left;
    font-size: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.in_nav {
    padding-top: 10%;
    padding-bottom:10%;
    font-size: 20px;
    float: left;
    clear: left;
    width: 100%;
    display: flex;

}
.in_nav:hover {

    background-color: #f1f1f1;
    color: #00c3ff;

}
.in_nav div {
    float: left;
    clear: left;
    margin-left: 5%;
}

.menu_icon {
    color: #00c3ff;

}
.menu_sign {
    margin-left: 5%;
}

.container {
    float: left;
    width: 75%;
    font-size: 20px;
}


#vehicle_container {
    padding: 2%;
    width: 95%;
    float:left;
}

#info_container {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background-color: #FFFFFF;
    width: 90%;
    float:left;
    margin-left: 5%;
    padding-bottom: 3%;
}

table {
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
}

table tr td {
    padding: 2%;

}

.vehicle {
    width: 21%;
    background-color: #FFFFFF;
    margin-left: 2%;
    float: left;
    margin-bottom: 2%;
    padding: 1%;
    box-shadow: 0 0 5px rgba(0,0,0,1);
}

.vehicle_icon {
    color: #3d2e13;
    font-size: 48px;
    float: left;
    margin-left: 10%;
}


.vehicle_header {

    text-align: center;
}

.vehicle_count {
    margin-right:13%;
    float: right;
    font-size: 25px;

}

#icon_motorbike {
    color: #00c3ff;
}


#icon_car {
    color: #00c3ff;
}


#icon_truck {
    color: #00c3ff;

}

#icon_bus {

    color: #00c3ff;
}

