
body {
    background-color: #f1f1f1;
}

h1, h3 {
    text-align: center;
}


nav {
    display: block;
    background-color: #FFFFFF;
    width: 20%;
    float: left;
    font-size: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
#smallContainer{

    float:left;
    width:90%;
}

button {
    margin-left: 15%;
    background-color: #74D3DC;
    border: 2px solid #74D3DC;
    color: black;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    border-radius: 2px;
    clear: left;
    width: 100%;
}

button:hover {
    background-color: white;
    transition-duration: 0.4s;
    border: 2px solid #74D3DC;
}

#containerButton div {
    width: 20%;
    margin-left: 37%;
    margin-top: 2%;
}
#containerButton div a {
    width: auto;
}

#showButton {
    background-color: #74D3DC;
    border: 2px solid #74D3DC;
    width: 30%;
    color: black;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    border-radius: 2px;
}

#showButton:hover {
    background-color: white;
    transition-duration: 0.4s;
    border: 2px solid #74D3DC;
}

#container {
    margin:auto ;
    width: 80%;
}

#selectContainer {
    margin:auto;
    width: 60%;
    padding:3%;

}
select {
    width: 30%;
    height: 30px;
}

table {

    background-color: white;
    border: 2px solid #74D3DC;
    color: black;
    font-size: 18px;
    font-family: Raleway;
    width: 100%;
}
td {
    border: 2px solid #74D3DC;
    padding: 20px;
}


.container {
    float: left;
    width: 75%;
    font-size: 20px;
}