<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

<!--
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/errorPage.jsp</location>
    </error-page>
    -->

    <filter>
        <filter-name>utf8filter</filter-name>
        <filter-class>com.kurylchyk.controller.EncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>utf8filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>

